/* Start Variables */
:root {
  --mainColor--: #10cab7;
  --textColor--: #333;
  --sectextColor--: #777;
  --sectionColor--: #f2f2f2;
  --sectionPadding--: 60px;
  --mainDuration--: 0.3s
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Header */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header .container .logo img {
  width: 60px;
}
.header .container .links i {
  width: 60px;
  color: var(--textColor--);
  position: absolute;
  top: 0;
  right: 0;
}
.header .container .links ul {
  list-style: none;
  padding: 15px;
  background-color: var(--sectionColor--);
  min-width: 200px;
  margin: 0;
  margin-top: 20px;
  position: absolute;
  right: 0;
  display: none;
}
.header .container .links ul li a {
  text-decoration: none;
  color: var(--textColor--);
}
.header .container .links ul li {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  transition: var(--mainDuration--);
  -webkit-transition: var(--mainDuration--);
  -moz-transition: var(--mainDuration--);
  -ms-transition: var(--mainDuration--);
  -o-transition: var(--mainDuration--);
}
.header .container .links ul li:last-child {
  border: none;
}
.header .container .links ul::before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--sectionColor--) transparent;
  right: 20px;
  top: -20px;
}
.header .container .links:hover ul {
  display: block;
}
.header .container .links ul li:hover {
  padding-left: 25px;
}
.header .container .links ul li:hover a {
  color: var(--mainColor--);
}
/* End Header */
/* Start Landing */
.landing {
  background-image: url(../images/mountain-cloudy-sky.jpg);
  background-size: cover;
  height: calc(100vh - 67.9px);
}
.landing .container .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 320px;
  max-width: 100%;
}
.landing .container .intro-text h1 {
  margin: 0;
  font-weight: 800;
  font-size: 50px;
  color: var(--mainColor--);
}
.landing .container .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
/* End Landing */
/* Start Features */
.features {
  padding-top: var(--sectionPadding--);
  padding-bottom: var(--sectionPadding--);
  background-color: white;
}
.features .container .grid-container div {
  padding: 20px;
  text-align: center;
}
.features .container .grid-container div i {
  width: 60px;
}
.features .container .grid-container div h3 {
  font-size: 17px;
  font-weight: 800;
  margin: 30px 0;
  color: var(--textColor--);
}
.features .container .grid-container div p {
  color: var(--sectextColor--);
  line-height: 1.8;
}
.features .container .grid-container div:first-child,
.features .container .grid-container div:nth-child(2),
.features .container .grid-container div:nth-child(3) {
  background-color: white;
  box-shadow: 0 0 10px #ddd;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: var(--mainDuration--);
  -webkit-transition: var(--mainDuration--);
  -moz-transition: var(--mainDuration--);
  -ms-transition: var(--mainDuration--);
  -o-transition: var(--mainDuration--);
}

.features .container .grid-container div:first-child:hover,
.features .container .grid-container div:nth-child(2):hover,
.features .container .grid-container div:nth-child(3):hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}
/* End Features */
/* Start Components */
.special-heading {
  color: #d2d2d2;
  text-align: center;
  font-size: 100px;
  font-weight: 800;
  margin: 0;
  letter-spacing: -2px;
}
.special-heading + p {
  color: var(--textColor--);
  text-align: center;
  font-size: 17px;
  margin-top: -30px;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* End Components */
/*Start Services*/
.services {
  padding-top: var(--sectionPadding--);
  padding-bottom: var(--sectionPadding--);
}
.services .container .services-content .col {
  padding-top: 60px;
}
.services .container .services-content .col .serv i {
  color: var(--mainColor--);
  font-size: 40px;
}
.services .container .services-content .col .serv {
  display: flex;
  flex-flow: row wrap;
  color: var(--textColor--);
  align-items: anchor-center;
}
.services .container .services-content .col .serv h3 {
  margin: 0;
  margin-left: 20px;
  color: var(--textColor--);
  font-size: 20px;
}
.services .container .services-content .col .serv p {
  margin-top: 20px;
  margin-left: 20px;
  color: var(--textColor--);
}
.services .container .services-content .col .image img {
  width: 300px;
  height: 400px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media (max-width: 767px) {
  .services .container .services-content .col .serv {
    text-align: center;
  }
  .services .container .services-content .col .image img {
    display: none;
  }
}
/*End Services*/
/*Start Portfolio*/
.portfolio {
  padding-top: var(--sectionPadding--);
  padding-bottom: var(--sectionPadding--);
  background-color: #f9f9f9;
}
.portfolio .container .portfolio-content {
  justify-items: center;
  margin-top: 80px;
}
.portfolio .container .portfolio-content .card {
  background-image: linear-gradient(
    var(--sectionColor--) calc(370px - 120px),
    white calc(370px - 120px) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  height: 370px;
}
.portfolio .container .portfolio-content .card h3,
.portfolio .container .portfolio-content .card p {
  margin: 0;
  padding: 10px;
}
.portfolio .container .portfolio-content .card h3 {
  color: var(--textColor--);
  font-size: 20px;
}
.portfolio .container .portfolio-content .card p {
  color: var(--sectextColor--);
  font-size: 15px;
}
@media (max-width: 767px) {
  .portfolio .container .portfolio-content .card {
    background-image: linear-gradient(
      var(--sectionColor--) 70%,
      white 70% 100%
    );
    flex-direction: row wrap;
    justify-content: flex-end;
    align-content: flex-end;
  }
}
/*End Portfolio*/
/*Start About*/
.about {
  padding-top: var(--sectionPadding--);
  padding-bottom: var(--sectionPadding--);
}
.about .container p {
  color: var(--textColor--);
  line-height: 1.8;
}
.about .container .about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}
.about .container .about-content .box {
  width: 300px;
  height: 400px;
  background-color: #f6f6f6;
  box-shadow: 1px 1px 10px #ddd;
  position: relative;
}
@media (max-width: 991px) {
  .about .container .about-content {
    flex-direction: column;
    align-items: center;
  }
  .about .container .about-content .box {
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .about .container .about-content {
    flex-direction: column;
    align-items: center;
  }
  .about .container .about-content .box {
    display: none;
  }
}
.about .container .about-content .box::before {
  content: "";
  position: absolute;
  width: 110px;
  height: 453px;
  left: -40px;
  top: -26px;
  background-color: #f6f6f6;
  z-index: -1;
}
.about .container .about-content .box::after {
  content: "";
  position: absolute;
  width: 110px;
  height: 280px;
  right: -150px;
  top: -25px;
  border-left: 80px solid var(--mainColor--);
  border-bottom: 80px solid var(--mainColor--);
  z-index: -1;
}
@media (max-width: 991px) {
  .about .container .about-content .box::before,
  .about .container .about-content .box::after {
    display: none;
  }
}
.about .container .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .container .about-content .text p:first-of-type {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 20px;
}
.about .container .about-content .text hr {
  border-color: var(--mainColor--);
  width: 50%;
  margin: 20px 0;
}
.about .container .about-content .text p:last-of-type {
  line-height: 1.8;
  color: var(--sectextColor--);
  font-size: 16px;
}
/*End About*/
/*Start Contact*/
.contact {
  padding-top: var(--sectionPadding--);
  padding-bottom: var(--sectionPadding--);
  background-color: var(--sectionColor--);
}
.contact .container .contact-content {
  display: flex;
  flex-direction: column;
}
.contact .container .contact-content > p:first-child {
  color: #2c4957;
  font-size: 80px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}
.contact .container .contact-content p {
  text-align: center;
}
.contact .container .contact-content p a {
  text-decoration: none;
  color: var(--mainColor--);
  font-weight: 800;
  font-size: 40px;
}
@media (max-width: 767px) {
  .contact .container .contact-content > p:first-child {
    font-size: 50px;
  }
  .contact .container .contact-content p a {
    font-size: 25px;
  }
}
.contact .container .contact-content .social {
  display: flex; 
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.contact .container .contact-content .social p {
  color: #2c4957;
}
.contact .container .contact-content .social i {
  font-size: 30px;
  color: #2c4957;
  transition: var(--mainDuration--);
  -webkit-transition: var(--mainDuration--);
  -moz-transition: var(--mainDuration--);
  -ms-transition: var(--mainDuration--);
  -o-transition: var(--mainDuration--);
}
.contact .container .contact-content .social i:hover {
  color: var(--mainColor--);
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}
@media (max-width: 767px) {
  .contact .container .contact-content > p:first-child {
    font-size: 40px;
  }
  .contact .container .contact-content .social i {
    font-size: 20px;
  }
}
/*End Contact*/
/*Start Footer*/
.footer {
  padding: 20px;
  background-color: #2c4957;
  text-align: center;
}
.footer .container p {
  color: white;
  margin: 0;
  font-weight: 600;
}
/*End Footer*/
